body {
    background-color: aquamarine;
}
h1 {
    color:orangered;
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;
}
.dadospessoais {
    color: rgb(24, 32, 49);
    font-family: Arial, Helvetica, sans-serif;
}
th, td {
    text-align: left;
    border: solid 1px black;
}
tr:hover {
    background-color: gray;
    color: blue;
    font-size: 18px;
}
.description {
    background-color: aqua;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}
.caixaunidavi {
    height: 600px;
}
img[src="img/UNIDAVI-foto.jpg"] {
    height: 500px;
}
img[src="img/UNIDAVI-foto.jpg"]:hover {
    height: 600px;
}
.caixaprof {
    height: 350px;
}
img[src="img/Sandro-Alengar.webp"] {
    height: 300px;
}

img[src="img/Sandro-Alengar.webp"]:hover {
    height: 350px;
}