body {
    font-size: 25px;
}
input {
    margin-bottom: 8px;    
}
.prima > label {
    display: block;
    width: 20%;
    float:left;
}
@media (min-width: 728px) {
    body {
        font-size: 25px;
    }
    input {
        margin-bottom: 8px;    
    }
    .prima > label {
        display: block;
        width: 8%;
        float:left;
    }
}

